.boxHomeContent{
    padding-top: 20px;
    background-position: "center top";
    background: "linear-gradient(#57003d1a,transparent)";
    opacity: 1;
    flex-wrap: "wrap-reverse";
  align-items: "flex-start";
  justify-content: "space-between";
  align-content: "center";
  font-family: "Arial";
  color: "white";
  min-height: "calc(100vh - 18.8vh)";
  display: "flex";
  font-size: 14;
  min-width: "calc(100vw - 720px)";
  width: "calc(100vw - 620px)";
  letter-spacing: "0.4em";
  text-transform: "uppercase";
  padding-left: "20px";
  padding-right: "20px";
}